body {
background-image:url(back1.jpg);
background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
text-align:center;
margin:-50px 50px;
}

h1 {
width:100%;
margin:0;
color:#7a358f;
background-color:rgba(251,109,43,0.678);
border:3.4px solid purple;
border-radius:15px 50px;
font-family:Arial;
font-size:30px;
}

p {
text-align:left;
font-family:'Crimson Text',serif;
font-size:17px;
}

.image {
width:50%;
padding:5px;
opacity:100%;
border-radius:15px 50px;
}

nav {
position:relative;
top:0;
text-align:center;
background-color:#fb941e91;
border-radius:25px;
margin:20px -40px 5px;
padding:2px;
font-family:'Crimson Text',serif;
}

nav a {
color:#fbc9b1;
background-color:#7a358f;
padding:0 5px;
font-size:15px;
font-family:'Mulish',sans-serif;
margin:10px;
}

.HOME {
padding:50px;
padding-bottom:40px;
margin:0 -50px;
}

.ABOUT {
padding:50px;
margin:0 -50px;
}

iframe {
border-radius:20px;
text-align:center;
}

.video {
text-align:center;
}

.LETTER {
padding:50px;
margin:0 -50px 270px;
}

footer {
position:relative;
bottom:0;
text-align:center;
background-color:#fb941e91;
border-radius:25px;
margin:0 -40px -50px;
color:#140f0f;
font-family:'Crimson Text',serif;
font-size:15px;
}

.foot {
margin-top:-20px;
padding-bottom:25px;
}

@media only screen and (max-width: 600px) {
h1 {
font-size:20px;
}

p {
font-size:15px;
font-family:'Mulish',sans-serif;
}
}

@media only screen and (max-width: 800px) {
.image {
width:70%;
}

iframe {
width:90%;
}
}

@media only screen and (min-width: 1300px) {
body {
padding-left:200px;
padding-right:200px;
}
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
body {
padding-left:100px;
padding-right:100px;
}
}
